body {margin:0;
bgcolor: #e5e5e5}

.topnav {
  overflow: hidden;
  background-color: #0080c0;
  font-family: "times new roman"
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #00ffff;
  color: black;
}

.topnav a.active {
    background-color: #0080c0;
    color: #400040;
}

.button {
    background-color: #0080c0;
    border: none;
    color: #400040;
    height: 50px;
    width: 200px;
    margin: -20px -50px; 
    top:50%; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #0000a0000; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.popup-content {
    background-color: #ffffff;
    margin: 30% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #c0c0c0;
    width: 100%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #140000;
    float: right;
    font-size: 28px;
    font-weight: italic;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*TextArea*/
.textarea {
    margin: 0px; 
    height: 2000px; 
    width: 5000px; 
    padding: 10px 42px 58px 20px;
    z-index: auto; 
    position: relative; 
    line-height: BOLD; 
    font-size: 13.3333px; 
    transition: none; 
    background: transparent !important;
    align: 
}

